h1.bigalow {
  font-family: 'Bigelow Rules', cursive;
  font-weight: 400;
  font-size: 95px;
  font-style: normal;
  line-height: initial;
  color: rgb(108, 154, 206)

}

.App {
  text-align: center;
}
